@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    text-align: center;
}

#informacoes {
    display: flex;
    justify-content: space-between;
    width: 500px;
    height: 25px;
}

#cronometro, #pontuacao {
    font-size: 12px;
}

#balao-aviso {
    display: none;
    position: fixed;
    border-radius: 5px;
    background-color: #f29b9b;
    font-size: 20px;
    z-index: 2;
    padding: 30px;
}

p#aviso a {
    display: inline-block;
    margin-top: 15px;
    padding: 5px;
    font-size: 18px;
    background-color: #fff;
    border-radius: 5px;
    text-decoration: none;
}

#jogo {
    width: 500px;
    height: 200px;
    border-radius: 5px 5px;
    background-image: url('img/bg-game.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#personagem {
    width: 70px;
    height: 70px;
    background-image: url('img/bike.png');
    background-size: cover;
    position: relative;
    top: 135px;
    z-index: 1;
}

.pular {
    animation: personagem 350ms ease-in-out;
}

@keyframes personagem {
    0% {
        top: 135px;
    }

    20% {
        top: 80px;
    }

    30% {
        top: 80px;
    }

    40% {
        top: 80px;
    }

    50% {
        top: 80px;
    }

    60% {
        top: 80px;
    }

    70% {
        top: 80px;
    }

    80% {
        top: 80px;
    }

    100% {
        top: 135px;
    }
}

#obstaculo {
    width: 30px;
    height: 30px;
    background-image: url('img/cone.png');
    background-size: cover;
    position: relative;
    top: 100px;
    left: 472px;
    animation: obstaculo 1.3s infinite linear;
    z-index: 1;
}

@keyframes obstaculo {
    0% {
        left: 480px;
    }

    100% {
        left: -5px;
    }
}

#avenida {
    width: 500px;
    height: 20px;
    background-image: url('img/avenida_movimento.gif');
    background-size: contain;
    margin-top: 90px;
}

/* CONFIGURAÇÕES PARA TELAS COM MENOS DE 700 PX */

@media(max-width: 700px) {

    body {
        justify-content: flex-start;
    }

    #balao-aviso {
        margin-top: 50px;
    }

}

/* CONFIGURAÇÕES PARA TELAS COM MENOS DE 500 PX */

@media(max-width: 500px) {

    #jogo, #avenida, #informacoes {
        width: 400px;
    }

    @keyframes obstaculo {
        0% {
            left: 380px;
        }

        100% {
            left: -5px;
        }
    }

}

/* CONFIGURAÇÕES PARA TELAS COM MENOS DE 400 PX */

@media(max-width: 400px) {

    #jogo, #avenida, #informacoes {
        width: 300px;
    }

    @keyframes obstaculo {
        0% {
            left: 280px;
        }

        100% {
            left: -5px;
        }
    }

    #obstaculo {
        animation: obstaculo 1.1s infinite linear;
    }
}